@font-face{
	font-family:'socicon';
	src: 	url('fonts/socicon/Socicon.eot'); /* IE9 Compat Modes */
	src: 	url('fonts/socicon/Socicon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('fonts/socicon/Socicon.woff') format('woff'), /* Pretty Modern Browsers */
			url('fonts/socicon/Socicon.ttf')  format('truetype'), /* Safari, Android, iOS */
			url('fonts/socicon/Socicon.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'anton';
	src:	url('fonts/anton/Anton-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'baloo';
	src:	url('fonts/baloo/Baloo-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'comfortaa';
	src:	url('fonts/comfortaa/Comfortaa-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Open_Sans/open-sans';
	src:	url('fonts/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	font-weight:normal;
	font-style:normal;
}